global
    maxconn 300

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres_rw
    bind *:5000
    
    option pgsql-check user optima
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    balance roundrobin
    server pg_master_1 pg_master_1:5432 check port 5432
    server pg_slave_1 pg_slave_1:5432  check port 5432 backup
    server pg_slave_2 pg_slave_2:5432  check port 5432 backup

listen postgres_ro
    bind *:5001
    option pgsql-check user optima
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    balance roundrobin
    server pg_master_1 pg_master_1:5432 check port 5432
    server pg_slave_1 pg_slave_1:5432 check port 5432   weight 100
    server pg_slave_2 pg_slave_2:5432 check port 5432   weight 100
